<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427739666782-m2esud4uh9nsfp11u7nhtk8eta504cq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427739666782-m2esud4uh9nsfp11u7nhtk8eta504cq3</string>
	<key>API_KEY</key>
	<string>AIzaSyBxuT41RfbOfkl01OtcgbgMNDluz6DjrcM</string>
	<key>GCM_SENDER_ID</key>
	<string>427739666782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rikudejima.labbit</string>
	<key>PROJECT_ID</key>
	<string>labbit-59a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>labbit-59a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427739666782:ios:3503d07b17982b280817cf</string>
</dict>
</plist>